* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 22px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body > header {
    background-color: #0095FF;
    padding: 1rem 1.5rem;
    color: white;
}

#trunk {
    padding-top: 3rem;
    align-items: center;
}

main {
    max-width: 830px;
    margin: 0 auto;
    padding: 0 1rem;
}

main > header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.7rem;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#draft-area {
    flex-basis: 70%;
    font-size: 1rem;
    border: 1px solid #b9b9b9;
    border-radius: 0.35rem;
    padding: 0.5rem 1rem;
    flex-grow: 1;
}

#draft-area:focus {
    border-color: #797979;
    outline: none;
}

#add-button {
    font-size: 1rem;
    padding: 0.3rem 0.75rem;
    background-color: #4b9fea;
    color: white;
    border: none;
    border-radius: 0.5rem;
    flex-grow: 1;
}

#add-button:hover {
    background-color: #3294eb;
    cursor: pointer;
}

#todo-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 2.5rem;
    padding: 0 0.7rem;
    border: 1px solid #b9b9b9;
    border-bottom: none;
    gap: 0.7rem;
}

#todo-list li:first-child {
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

#todo-list li:last-child {
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    border-bottom: 1px solid #b9b9b9;
    margin-bottom: 1rem;
}

#todo-list li > :is(input[type=checkbox], img) {
    flex: 0;
}

#todo-list li > span {
    flex-basis: 90%;
    font-size: 0.8rem;
    padding: 0.5rem 0;
}

li > input[type=checkbox] {
    padding: 1rem;
}

li > input[type=checkbox]:checked {
    accent-color: #438fd1;
}

li.completed > span {
    text-decoration: line-through;
}

.remove-button {
    border: none;
    display: flex;
    background-color: transparent;
    height: 1.3rem;
    width: 1.3rem;
    justify-content: center;
}

.remove-button:hover {
    cursor: pointer;
}

.remove-button:hover img {
    transform: scale(0.90);
}

.remove-button img {
    fill: #ff5757;
}